In [12]:
import pandas as pd 
import numpy as np

In [22]:
dict1 = {"A":[1,2,3],
         "B":[2,3,4],}

In [23]:
dict1

{'A': [1, 2, 3], 'B': [2, 3, 4]}

In [24]:
df = pd.DataFrame(dict1)

In [25]:
df

   A  B
0  1  2
1  2  3
2  3  4

In [26]:
df.describe()

         A    B
count  3.0  3.0
mean   2.0  3.0
std    1.0  1.0
min    1.0  2.0
25%    1.5  2.5
50%    2.0  3.0
75%    2.5  3.5
max    3.0  4.0

In [28]:
df.mean()

A    2.0
B    3.0
dtype: float64

In [29]:
df.corr()

     A    B
A  1.0  1.0
B  1.0  1.0

In [30]:
df.count()

A    3
B    3
dtype: int64

In [31]:
df.max()

A    3
B    4
dtype: int64

In [32]:
df.min()

A    1
B    2
dtype: int64

In [34]:
df.median()

A    2.0
B    3.0
dtype: float64

In [35]:
df.std()

A    1.0
B    1.0
dtype: float64