In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
dict1 = {"name":["Harry", "Rohan", "skillaf", "shubh"],
        "marks":[12,23,45,23],
        "city": ["Ahemdabad","Indore","Pune","Kolkata"]}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

      name  marks       city
0    Harry     12  Ahemdabad
1    Rohan     23     Indore
2  skillaf     45       Pune
3    shubh     23    Kolkata

In [5]:
df.to_csv("Friends.csv")

In [11]:
df2 = pd.DataFrame(np.random.rand(30,7))

In [12]:
df2

           0         1         2         3         4         5         6
0   0.927921  0.882387  0.321204  0.171359  0.573501  0.390311  0.790669
1   0.773543  0.928253  0.716987  0.061548  0.617382  0.012349  0.117957
2   0.611567  0.453808  0.429596  0.431536  0.452847  0.768245  0.266339
3   0.676067  0.217554  0.672217  0.773638  0.991453  0.740797  0.865778
4   0.035758  0.511418  0.891641  0.758566  0.812271  0.423225  0.039808
5   0.938514  0.991083  0.503552  0.419962  0.047987  0.489743  0.863909
6   0.255048  0.107266  0.402694  0.301419  0.901266  0.707393  0.499746
7   0.723113  0.963884  0.233267  0.505675  0.617746  0.385748  0.757328
8   0.794621  0.618434  0.964562  0.772240  0.460022  0.951529  0.448714
9   0.337734  0.354030  0.277944  0.359374  0.085340  0.068660  0.180947
10  0.175725  0.887271  0.577180  0.028035  0.976598  0.206014  0.296088
11  0.194864  0.178714  0.474273  0.621243  0.687744  0.852680  0.501409
12  0.093371  0.093859  0.982126  0.010546  0.973296  0.151450  0.335017
13  0.558449  0.606924  0.531322  0.687249  0.600875  0.483318  0.314619
14  0.873279  0.976821  0.079978  0.124016  0.796199  0.958643  0.842042
15  0.915144  0.496707  0.044435  0.314491  0.659890  0.219951  0.609166
16  0.019478  0.234239  0.699386  0.586646  0.608093  0.195573  0.467093
17  0.757220  0.581348  0.336390  0.450127  0.278171  0.574999  0.013234
18  0.062481  0.513666  0.417473  0.037400  0.237135  0.636096  0.486130
19  0.686859  0.200044  0.996986  0.122783  0.588114  0.584020  0.833346
20  0.404639  0.008515  0.856863  0.546794  0.995943  0.323898  0.974660
21  0.600578  0.203877  0.334199  0.298595  0.035792  0.562908  0.085389
22  0.291973  0.591061  0.726133  0.492853  0.087880  0.711613  0.275323
23  0.622979  0.509584  0.399629  0.255527  0.343438  0.408911  0.604580
24  0.754110  0.890590  0.092588  0.790156  0.825144  0.587668  0.724949
25  0.274798  0.148718  0.987223  0.848015  0.066056  0.864447  0.027935
26  0.509477  0.354179  0.291316  0.030504  0.460513  0.968329  0.201671
27  0.550169  0.745317  0.483336  0.930513  0.376649  0.503306  0.555747
28  0.997976  0.682203  0.363634  0.680332  0.276169  0.723184  0.745501
29  0.020849  0.034922  0.829310  0.122080  0.276285  0.150469  0.944820

In [13]:
df2.describe()

,0,1,2,3,4,5,6
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,0.514610,0.498889,0.530581,0.417774,0.523660,0.520183,0.488997
std,0.310777,0.312191,0.282804,0.283252,0.305736,0.274469,0.299066
min,0.019478,0.008515,0.044435,0.010546,0.035792,0.012349,0.013234
25%,0.259985,0.207296,0.334747,0.135852,0.276757,0.339360,0.268585
50%,0.579513,0.510501,0.478805,0.425749,0.580808,0.533107,0.492938
75%,0.756443,0.729539,0.723847,0.665560,0.769085,0.720291,0.754371
max,0.997976,0.991083,0.996986,0.930513,0.995943,0.968329,0.974660

In [ ]:
dict1={
    1:np.random(),
    2:np.random(),
    3:np.random(),
}
df = pd.dataframe(dict1)